:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Genel Sayfa Stilleri */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 80vh;
  justify-content: space-around;
}

/* Ortak Kullanılan Container */
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Ortak Input ve Select Stilleri */
input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  background: #f9f9f9;
}

/* Ortak Buton Stilleri */
button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease-in-out;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Login Page */
/* .login-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
} */

.chat-container {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  text-align: center;
}

.chat-box {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ddd;
  background: white;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  font-size: 14px;
}

.sent {
  align-self: flex-end;
  background-color: #4a90e2;
  text-align: right;
  color: white;
}

.received {
  align-self: flex-start;
  background-color: #e2e8f0;
  color: #1a1a1a;
  text-align: left;
}

.message-input {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.message-input input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.message-input button {
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.message-input button:hover {
  background: #0056b3;
}
